/*All Common Css Start*/
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
a,a:hover{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
    line-height: 0.9;
}
ol, ul{
    list-style-type: none;
}
/*All Common Css End*/

/* ==================Top Section Start================= */
#top{
    background: #eeeeee;
    padding: 10px;
}
.group h5{
    font-size: 16px;
    color: #000000;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
.time h5{
    font-size: 16px;
    color: #000000;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
.social a{
    font-size: 16px;
    color: #000000;
    margin-left: 10px;
}
/* ==================Top Section End================= */
/* ==================logo Section Start================= */
.teacher{
    padding-top: 50px;
}
.teacher h3{
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;

}
.teacher span{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    padding-top: 5px;
    display: block;
}
.logo_part img {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 150px;
	width: 130px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.contact{
    padding-top: 50px;
}
.contact h4{
    color: #dd0000;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}
.contact h5{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    padding-top: 10px;
}
/* ==================logo Section End================= */
/* ==================Navbar Section Start================= */
.navbar{
    background: #000000;
}
nav ul li{
    margin-right: 20px;
}
.active{
    background: red;
}
nav ul li a{
   color: #fff;
   font-size: 16px;
   font-weight: 400;
   font-family: 'Roboto Slab', serif;
   text-transform: uppercase;
   line-height: 50px;
}
nav ul li a:hover{
    background: red;
    color: #fff;
}
/* ==================Navbar Section End================= */
/* ==================Banner Section Start================= */
.slick_item{
    background: url(../images/banner_img-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slick_two{
    background: url(../images/banner_img-02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slick_three{
    background: url(../images/banner_img-03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bsnner_overly{
    background: rgba(221, 221, 221, 0.349);
    padding-top: 270px;
    padding-bottom:250px;
}
.banner_text{
    background: rgba(49, 49, 49, 0.493);
    width: 876px;
}
.banner_text h3{
    color: #ffff;
    font-size: 42px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    padding-top: 33px;
    padding-bottom: 37px;
}
.banner_text p{
    color: #ffff;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    padding-bottom: 35px;
}
.prev{
    background: rgba(0, 0, 0, 0.404);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 111;
    color: #fff;
}
.next{
    background: rgba(0, 0, 0, 0.404);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 111;
    color: #fff;
}
.slick_slider ul{
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.slick_slider ul li{
    display: inline-block;
}
.slick_slider ul li button{
    height: 20px;
    width: 20px;
    border: 1px solid rgb(241, 232, 232);
    background:transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 0;
    outline: none;
    margin-left: 20px;
}
.slick_slider ul li.slick-active button{
    background: red;
}
/* ==================Banner Section End================= */
/* ==================Representation Section Start================= */
#representation{
    padding-top: 105px;
    padding-bottom: 105px;
}
.representation_item{
    background: url(../images/logo-02.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.representation_item h4{
    font-size: 36px;
    color: #000000;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    position: relative;
}
.representation_item h4::after{
    position: absolute;
    content: '';
    background: red;
    width: 50px;
    height: 4px;
    bottom: -20px;
    left: 0;
}
.representation_item p{
    font-size: 16px;
    color: #151515;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    padding-top: 60px;
    padding-bottom: 27px;
}
.representation_item span{
    padding-top: 22px;
    display: block;
}
.representation_item a{
    border: 2px solid #151515;
    padding: 16px 25px;
    color: #151515;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    text-transform: capitalize;
}
/* ==================Representation Section End================= */
/* ==================Portfolio Section Start================= */
#portfolio{
    background: #f9f9f9;
    padding-top: 70px;
    padding-bottom: 70px;
}
.portfolio_title h3{
    font-size: 36px;
    color: #000000;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    position: relative;
}
.portfolio_title h3::after{
    position: absolute;
    content: '';
    background: red;
    width: 80px;
    height: 4px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.portfolio_title p{
    font-size: 16px;
    color: #151515;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    padding-top: 60px;
}
.portfolio_item{
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 45px;
}
.portfolio_text h3{
    font-size: 24px;
    color: #000000;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    padding-top: 20px;
}
.portfolio_text p{
    font-size: 16px;
    color: #151515;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 25px;
    padding-top: 25px;
    line-height: 24px;
}
.portfolio_text a{
    border: 2px solid #151515;
    padding: 10px 25px;
    color: #151515;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    text-transform: capitalize;
}
/* ==================Portfolio Section End================= */
/* ==================Legal Section Start================= */
#legal{
    padding-top: 70px;
    padding-bottom: 70px;
}
.video_part{
    padding-top: 45px;
}
/* ==================Legal Section End================= */
/* ==================contact Section Start================= */
#contact{
    background: url(../images/contact_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 115px;
    padding-bottom: 115px;
}
.contact_text h3{
    font-size: 42px;
    color: #ffff;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}
.contact_text p{
    font-size: 24px;
    color: #fff;
   font-weight: 400;
   font-family: 'Roboto Slab', serif;
   padding-top: 20px;
   padding-bottom: 40px;
}
.contact_text a{
    border: 2px solid #fff;
    padding: 10px 25px;
    color: #ffff;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    text-transform: capitalize;
}
/* ==================contact Section End================= */
/* ==================latest Section Start================= */
#latest{
    padding-top: 70px;
    padding-bottom: 70px;
}
.latest_item{
    padding-top: 45px;
}
.latest_img{
    position: relative;
}
.date_month{
    background: #000000;
    height: 80px;
    width: 80px;
    position: absolute;
    left: 20px;
    bottom: 0;
}
.date_month span{
    display: block;
    color: #fff;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}
.latest_icon a{
    margin-right: 50px;
    font-size: 16px;
    color: #585858;
    font-family: 'Open Sans', sans-serif;
    padding-top: 15px;
}
.latest_icon i{
    font-size: 16px;
    margin-right: 10px;
}
.latest_icon span{
    color: red;
}
.latest_text h4{
    font-size: 19px;
    color: #000000;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}
.latest_text p{
    font-size: 15px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 25px;
}
.latest_text button{
    border: 2px solid #000000;
    padding: 10px 25px;
    color:#000000;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    text-transform: capitalize;
    margin-left: 0; 
}
/* ==================latest Section End================= */
/* ==================Footer Section Start================= */
#footer{
    background: #282628;
    padding-top: 70px;
    padding-bottom: 60px;
}
.abouts h3{
    color: #ffff;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;

}
.abouts p{
    color: #9c9c9c;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    padding-top: 30px;
    padding-bottom: 35px;
}
.soclie_icon a{
    height: 32px;
    width: 32px;
    border: 1px solid #ddd;
    color: #585858;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
}
.soclie_icon a:hover{
    background: #fff;
    color: red;
}
.quicklink h3{
    color: #ffff;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    padding-bottom: 20px;
}
.quicklink ul li{
    color: #9c9c9c;
    border-bottom: 3px dotted #9c9c9c;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.quicklink ul li:hover{
    color: #fff;
    cursor: pointer;
}
.touch h3{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    padding-top: 30px;
    padding-bottom: 20px;
}
.touch ul li a{
    color: #9c9c9c;
    padding-bottom: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.touch ul li span{
    display: block;
    margin-left: 20px;
}
.touch ul li i{
    margin-right: 10px;
    font-size: 16px;
}
/* ==================Footer Section End================= */
/* ==================Footer Section End================= */
#socket{
    background: #141314;
}
.socket_text h3{
    font-size: 16px;
    color: #a3a3a3;
    font-family: 'Open Sans', sans-serif;
    line-height: 60px;
}
/* ==================Footer Section End================= */